.help-line a {
    background-color: #F8694A;
}
.top-discount-area .single-discount-area:nth-child(2) {
    background-color: #F8694A;
}
/*.cart_quantity {
    background-color: #F8694A;
}*/
.single_product_desc .cart .cart-submit {
    background-color: #F8694A;
}
.header-right-side-menu > a:focus,
.header-right-side-menu > a:hover {
    background-color: #F8694A;
    color: #fff;
}
#scrollUp {
    background-color: #F8694A;
}
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    background-color: #3a3a3a;
}
.karl-level {
    background-color: #F8694A;
}
.karl-level:after {
    border-color: transparent transparent #F8694A transparent;
}
.subscribtion_form .submit:hover {
    background-color: #F8694A;
}
.cart-list li .btn-checkout {
    background-color: #F8694A;
}
.cart-list td .btn-checkout {
    background-color: #F8694A;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
}
.product-description .add-to-cart-btn {
    color: #F8694A;
}
.karl-checkout-btn {
    background-color: #F8694A;
}
.coupon-code-area form > button {
    background-color: #F8694A;
}
.cart_quantity {
    background-color: #F8694A;
}
.product_body .modal_pro_wishlist > a,
.product_body .modal_pro_compare > a {
    background-color: #e91e63;
    color: #fff;
    display: block;
    height: 40px;
    margin: 0 15px;
    text-align: center;
    width: 40px;
    padding-top: 5px;
    font-size: 22px;
}
.menu-content > li > a:before {
    background-color: #F8694A;
}
.widget.size .widget-desc a:hover,
.widget.size .widget-desc a:focus {
    background-color: #F8694A;
    color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {

        background-color: #F8694A;

    }}
.navbar-toggler {
    background-color: #F8694A;
}
